/.bundle
/db/*.sqlite3
/log/*.log*
/tmp
/data

/.rspec
/.powenv
/.set_environment.sh

.DS_Store
.DS\_Store
*.sw?
~*.*
*.tmp
config/database.yml
config/settings/preferences.yml
*~
*.cache
*.log
*.pid
db/cstore/**
doc/api
doc/app
doc/plugins
coverage/*
*.tmproj
Capfile
doc/*.dot
public/javascripts/cache/*
public/stylesheets/cache/*
nbproject
db/schema.rb
tags
