body {
	background-color: #222222;
}
#header, #menu, #footer, #topsearch, #bottomsearch, #search {
	background-color: #3D83CC;
}
#header h1 {
	color: #FFFFFF;
}
#header {
	z-index: 100;
	position:  relative;
}
#menu {
	margin-top: 0px;
}
#content {
	background-color: #FFFFFF;
	padding-bottom: 15px;
}
#footer {
	color: #FFFFFF;
}
#searchPager {
	text-align: center;
}
#badge {
	position: absolute;
}