body {
	background-color: #222222;
}
#header, #menu, #footer, #topsearch, #bottomsearch, #search {
	background-color: #3D83CC;
}
#header {
	z-index: 100;
	position:  relative;
}
#header h1 {
	color: #FFBC0B;
	padding-top: 10px;
	padding-left: 30px;
}
#menu {
	margin-top: 0px;
}
#content {
	background-color: #FFFFFF;
	padding-bottom: 15px;
}
#footer {
	color: #FFFFFF;
}
#searchPager {
	text-align: center;
}
#badge {
	position: absolute;
}
#record_title {
	font-weight: bold;
	background-color: #3D83CC;
	color: #FFFFFF;
	padding: 5px 0px 5px 20px;
	display:  none;
}
#record_base {
	display: none;
}
.ss_sprite {
	padding-left: 18px;
}