body {
	background-color: #222222;
}
#header, #menu, #footer, #topsearch, #bottomsearch, #search {
	background-color: #3D83CC;
}
#header {
	z-index: 100;
	position:  relative;
}

#logo {
	padding-left: 30px;
}
#menu {
	margin-top: 0px;
	margin-left: 8px;
}
#content {
	background-color: #FFFFFF;
	padding-bottom: 15px;
}
#footer {
	color: #FFFFFF;
}
#record_title {
	font-weight: bold;
	background-color: #3D83CC;
	color: #FFFFFF;
	padding: 5px 0px 5px 20px;
	display:  none;
}
#record_base {
	display: none;
}


form div {
	clear: left;
	display: block;
	zoom: 1;
	margin: 5px 0 0 0;
	padding: 1px 3px;
	text-align: left;
}
form div label {
	display: block;
	float: left;
	width: 120px;
	padding: 3px 5px;
	margin: 0 0 5px 0;
	text-align: right;
}

#brecord_find_rec_bname1 optgroup {
	font-size:.8em;
	margin-bottom:1.875em;
	line-height:1.875em;
}
.uppercase {
	text-transform: uppercase;
}
.title {
	font-weight: bold;
}

#find_submit_btn, #find_reset_btn, #find_cancel_btn {
	cursor:pointer;
	border:1px solid #f3a251;
	background:#222222;
	color:#FFFFFF;
	font-weight:bold;
	padding: 2px 15px;
	height: 30px;
}
#find_submit_btn span, #find_reset_btn span, #find_cancel_btn span {
	padding-bottom: 5px;
}
#find_submit_btn:hover, #find_reset_btn:hover, #find_cancel_btn:hover {
	background: #FFBC0B;
}
#find_submit_btn:focus, #find_reset_btn:focus, #find_cancel_btn:focus, #find_submit_btn:active, #find_reset_btn:active, #find_cancel_btn:active {
	background: #222222;
}
#findRecord input[type="text"], #findRecord textarea, #findRecord select {
	border: 1px solid #f3a251;
}
#findRecord input[type="text"]:focus, #findRecord input[type="text"]:active, #findRecord textarea:focus, #findRecord textarea:active, #findRecord select:focus, #findRecord select:active {
	border: 1px solid #f3a251;
	background: #ffeddc;
}
.ss_sprite {
	padding: 0 0 0 18px;
}
