form p {text-align:center;}
form#find {width:470px; padding:10px; border:1px solid #3D83CC; margin:0 auto;}
form#find fieldset {width:450px; display:block; border:1px solid #ccc; padding:5px; margin-bottom:0.5em; line-height:1.5em;}
form#find legend {border:3px solid #fff; margin-top:2px; margin-bottom:2px; padding:3px; background:#fff;}
form#find label {clear:left; display:block; float:left; width:11em; text-align:right; padding-right:2px; margin-bottom:0.1em;}
form#find input, form#find select {border:1px solid #3D83CC; background:#fff; width:16em; padding-left:0.3em; margin-bottom:0.1em;}
form#find select {width:16.5em; margin-top:0;}
form#find textarea {width:410px; height:15em; border:1px solid #fff; padding:0.5em; overflow:auto; background:#fff;}
/*
form#find option {background:#788; color:#fff;}
*/
form#find option {background:#fff; color:#000;}
form#find optgroup {background:#abb; color:#000;}
/*
form#find optgroup option {background:#9aa; color:#fff;}
*/
form#find optgroup option {background:#fff; color:#000;}
form#find #button1, form#find #button2 {color:#c00; cursor:pointer; width:8em;}
form#find #button1:hover, form#find #button2:hover {background-position:center left; color:#000; background:#ddd;}
