/**************************************\
|------------COLOR SCHEME--------------|
|--------------------------------------|
- black		#000000
- white		#FFFFFF
- blue		#0F6FD2 1c94c4
- gray		#222222
- orange	#E08002 e78f08
- ligth		#F7E8D4
\**************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/

.hint {
	font-style:italic;
	font-size:.8em;
	margin-bottom:1.875em;
	line-height:1.875em;
	margin-left:2em;
	color:#e78f08;
}
.title {
	font-weight: bold;
}
select {
	height:1.9em;
	margin:0;
}
.centered {
	text-align:center;
}
.nomargin {
	padding:0;
	padding:0;
}

#login_dialog .uniForm .inlineLabels label, #login_dialog .uniForm .inlineLabels .label {
	width:8em;
}

/**************************************
* Aggiunto da Sergio temporaneamente!
***************************************/
.uniForm .inlineLabels textarea, .uniForm .inlineLabels .textarea {
	height:8em;
}

a.button, button {
	margin: 0.7em 0.5em 0.7em 0;
	padding:5px 10px 5px 7px;   /* Links */
	border:1px solid #1c94c4;
	border-top:1px solid #1c94c4;
	border-left:1px solid #1c94c4;
	background-color:#f5f5f5;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#1c94c4;
	cursor:pointer;
}
button img, a.button img {
	margin:0 3px -3px 0 !important;
	padding:0;
	border:none;
	width:16px;
	height:16px;
	float:none;
}
button:hover, a.button:hover {
	background: #1c94c4;
	color: #e78f08;
}
button:focus, a.button:focus, button:active, a.button:active {
	background: #1c94c4;
	color: #e78f08;
}
.pex-accordion {
	margin:0 0 -10px 0 !important;
}
.pex-accordion a {
	color:#1C94C4;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	text-decoration:none;
}
.pex-accordion a:hover, .pex-accordion a:focus {
	background: #fdf5ce url(images/fdf5ce_40x100_textures_02_glass_100.png) 50% 50% repeat-x
	font-weight: bold;
	color: #c77405;
	outline: none;
}

#tooltip{
	position:absolute;
	border:1px solid #c77405;
	background:#fdf5ce;
	padding:2px 5px;
	color:#c77405;
	display:none;
	z-index:5;
}
hr {
	color: #1c94c4;
	background-color: #1c94c4;
	height: 3px;
	margin-top: 1em;
	margin-bottom: 1em;
}

/**************************************/
/*              NORTH                 */
/**************************************/

.ui-layout-north {
	text-align: center;
}

/**************************************/
/*              WEST                  */
/**************************************/

.ui-layout-west {
	text-align: left;
}
.ui-layout-west img {
	margin:0 3px -3px 0 !important;
}
#wNavigation {
	font-size: 1.2em;
}
#wNavigation .ui-accordion-content a {
	line-height:2em;
}
#dialog_about {
	text-align: center;
}

/**************************************/
/*              CENTER                */
/**************************************/

.ui-layout-center {
	text-align: left;
}

.ui-tabs-hide {
	display: none;
}
#record_title {
	font-weight: bold;
	background-color: #1c94c4;
	color: #FFFFFF;
	padding: 0px 0px 0px 20px;
	display:  none;
}

.uniForm .inlineLabels label, .uniForm .inlineLabels .label {
	width:15em;
}
.uniForm fieldset {
	border:1px solid #1c94c4;
	padding: 1em;
	color:#1c94c4;
}
.uniForm .buttonHolder {
	text-align:left;
	margin-left: 6px;
}
.uniForm .inlineLabels .selectInput, .uniForm .inlineLabels select {
	width:auto;
}
.uniForm fieldset legend {
	color:#1c94c4;
}
.uniForm .ctrlHolder {
	border-bottom:0px;
	padding:2px 5px;
}

#brecord_find_rec_bname1 optgroup {
	font-size:.8em;
	margin-bottom:1.875em;
	line-height:1.875em;
}

#children_filters label, #parents_filters label, #record_attributes_filters label{
	padding-right:1em;
}

#record_attributes_filters img, #recordTabName img, #record_tile img,
#children_filters img, #parents_filters img,
#record_attributes_filters img {
	margin:0 3px -3px 0 !important;
}

#record_attributes_filters label {
	display:inline
}

.tree li a.clicked,
.tree li a.clicked:hover,
.tree li span.clicked,
.tree li a:hover, 
.tree li a.hover {
	background-color: #fdf5cf;
	border:1px solid #e78f08;
}

.tree li {
    padding:0 0 0 20px;
}
.ui-widget img {
	margin:0 3px -3px 0 !important;
}
.ui-state-error {
	padding: 0 .7em;
}
.ui-icon-alert{
	float: left;
	margin-right: .3em;
}
.title {
	color: #1c94c4;
}
.uniForm label.invalid {
	color: red;
	margin-left: 1em;
	display: inline;
	font-style:italic;
	float: none;
}
.ui-datepicker {
	z-index:3;
}

#dialog_new_modify {
	text-align:left;
}
/**************************************/
/*              EAST                  */
/**************************************/

.ui-layout-east {
	text-align: left;
}
.ui-layout-east img {
	margin:0 3px -3px 0 !important;
}
#eWorkspace .ui-accordion-content {
	padding:1em .5em;
}
.
.wrksp_records {
	margin:0 0 -10px 0 !important;
	height:.9em;
}
.wrksp_records a {
	color:#1C94C4;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	text-decoration:none;
}

.wrksp_records a:hover, .wrksp_records a:focus {
	background: #fdf5ce url(images/fdf5ce_40x100_textures_02_glass_100.png) 50% 50% repeat-x
	font-weight: bold;
	color: #c77405;
	outline: none;
}


/**************************************/
/*              SOUTH                 */
/**************************************/

.ui-layout-south {
	text-align: center;
}
.ui-layout-south img {
	margin:0 3px -3px 0 !important;
}
