/**************************************\
|------------COLOR SCHEME--------------|
|--------------------------------------|
- black		#000000
- white		#FFFFFF
- blue		#0F6FD2
- gray		#222222
- orange	#E08002
- ligth		#F7E8D4
\**************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/

.hint {
	font-style:italic;
	font-size:.8em;
	margin-bottom:1.875em;
	line-height:1.875em;
	margin-left:2em;
	color:#E08002;
}
.title {
	font-weight: bold;
}
select {
	height:2em;
}

/**************************************/
/*              NORTH                 */
/**************************************/

.ui-layout-north {
	text-align: center;
}

/**************************************/
/*              WEST                  */
/**************************************/

.ui-layout-west {
	text-align: left;
}

#wNavigation {
	font-size: 1.2em;
}
#wNavigation a {
	color:#1C94C4;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	text-decoration:none;
}

#wNavigation a:hover, #wNavigation a:focus {
	background: #fdf5ce url(images/fdf5ce_40x100_textures_02_glass_100.png) 50% 50% repeat-x
	font-weight: bold;
	color: #c77405;
	outline: none;
}
.ui-accordion-content a {
	line-height:2em;
}

/**************************************/
/*              CENTER                */
/**************************************/

.ui-layout-center {
	text-align: left;
}
.ui-tabs-hide {
	display: none;
}
#record_title {
	font-weight: bold;
	background-color: #3D83CC;
	color: #FFFFFF;
	padding: 0px 0px 0px 20px;
	display:  none;
}
#record_base {
	display: none;
}

.uniForm .inlineLabels label, .uniForm .inlineLabels .label {
	width:20%;
}
.uniForm fieldset {
	border:1px solid #0F6FD2;
	padding: 1em;
	color:#0F6FD2;
}
.uniForm .buttonHolder {
	text-align:left;
	margin-left: 6px;
}
.uniForm .inlineLabels .selectInput, .uniForm .inlineLabels select {
	width:auto;
}
.uniForm fieldset legend {
	color:#0F6FD2;
}

/*
form div {
	clear: left;
	display: block;
	zoom: 1;
	margin: 5px 0 0 0;
	padding: 1px 3px;
	text-align: left;
}
form div label {
	display: block;
	float: left;
	width: 120px;
	padding: 3px 5px;
	margin: 0 0 5px 0;
	text-align: right;
}
*/
#brecord_find_rec_bname1 optgroup {
	font-size:.8em;
	margin-bottom:1.875em;
	line-height:1.875em;
}
#find_submit_btn, #find_reset_btn, #find_cancel_btn {
	cursor:pointer;
	border:1px solid #E08002;
	background:#0F6FD2;
	color:#FFFFFF;
	font-weight:bold;
	padding: 2px 15px;
	height: 30px;
}
#find_submit_btn span, #find_reset_btn span {
	padding-bottom: 5px;
}
#find_submit_btn:hover, #find_reset_btn:hover {
	background: #E08002;
}
#find_submit_btn:focus, #find_reset_btn:focus, #find_submit_btn:active, #find_reset_btn:active {
	background: #0F6FD2;
}
/*
#findRecord input[type="text"], #findRecord textarea, #findRecord select {
	border: 1px solid #f3a251;
}
#findRecord input[type="text"]:focus, #findRecord input[type="text"]:active, #findRecord textarea:focus, #findRecord textarea:active, #findRecord select:focus, #findRecord select:active {
	border: 1px solid #f3a251;
	background: #ffeddc;
}
*/

/**************************************/
/*              SOUTH                 */
/**************************************/

.ui-layout-south {
	text-align: center;
}
