<ul class="sf-menu large">
	<li class="current">
		<a href="#"><span class="ss_sprite ss_find">&nbsp;</span>Find</a>
		<ul>
			<li><a href="#" class="find_rec" title="part"><span class="ss_sprite ss_page_white_gear">&nbsp;</span>Part</a></li>
			<li><a href="#" class="find_rec" title="document"><span class="ss_sprite ss_page_white_word">&nbsp;</span>Document</a></li>
			<li><a href="#" class="find_rec" title="software"><span class="ss_sprite ss_page_white_code">&nbsp;</span>Software</a></li>
			<li><a href="#" class="find_rec" title="workauth"><span class="ss_sprite ss_page_white_lightning">&nbsp;</span>Workauth</a></li>
		</ul>
	</li>
	<li>
		<a href="#"><span class="ss_sprite ss_printer">&nbsp;</span>Reports</a>
		<ul>
			<li><a href="#"><span class="ss_sprite ss_report">&nbsp;</span>Report 1</a></li>
			<li><a href="#"><span class="ss_sprite ss_report">&nbsp;</span>Report 2</a></li>
			<li><a href="#"><span class="ss_sprite ss_report">&nbsp;</span>Report 3</a></li>
		</ul>
	</li>
	<li>
		<a href="#"><span class="ss_sprite ss_help">&nbsp;</span>Help</a>
		<ul>
			<li id="about"><a href="#"><span class="ss_sprite ss_information">&nbsp;</span>About</a></li>
		</ul>
	</li>
</ul>

<div id="findRecord" class="flora" title="Find records">
</div>

<div id="dialogAbout" class="flora" title="PLM on Rails">
	Fantastico programma partorito dalle due menti deviate
	di Sergio Gallelli e Stefano Manieri<br/><br/>
	&copy; 2008 - tutti i diritti riservati<br/>
	ed anche i rovesci<br/><br/>
</div>

<script type="text/javascript"> 
	$(document).ready(function() { 
		$('ul.sf-menu').superfish({ 
			delay:       1000,                            // one second delay on mouseout 
			animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
			speed:       'fast',                          // faster animation speed 
			autoArrows:  false,                           // disable generation of arrow mark-up 
			dropShadows: false                            // disable drop shadows 
		}).find('ul').bgIframe({opacity:false});

	    $('#dialogAbout').dialog({
	      autoOpen: false,
	      modal: true,
	      overlay: {
	        opacity: 0.5,
	        background: "black"
	      }
	    });

		$('#findRecord').dialog({
			autoOpen: false,
			modal: true,
			overlay: {
				opacity: 0.5,
				background: "black"
			},
			height: 610,
			width: 770
		});

		$('#about').click(function() {
			$('#dialogAbout').dialog("open");
		});

		$('.find_rec').click(function() {
			var rectype = $(this).attr('title');
			$('#findRecord').load('/rectype/'+rectype+'/find').dialog("open");
		});
	}); 
</script>
