<ul class="sf-menu">
	<li class="current">
		<a href="#a">Search</a>
		<ul>
			<li><a href="/rectype/part">Part</a></li>
			<li><a href="/rectype/document">Document</a></li>
			<li><a href="/rectype/software">Software</a></li>
			<li><a href="/rectype/workauth">Workauth</a></li>
		</ul>
	</li>
	<li>
		<a href="#b">Reports</a>
		<ul>
			<li><a href="#ba">Report 1</a></li>
			<li><a href="#bb">Report 2</a></li>
			<li><a href="#bc">Report 3</a></li>
		</ul>
	</li>
	<li>
		<a href="#c">Help</a>
		<ul>
			<li><a href="#ca">About</a></li>
		</ul>
	</li>
</ul>
<script type="text/javascript"> 
    $(document).ready(function() { 
        $('ul.sf-menu').superfish({ 
            delay:       1000,                            // one second delay on mouseout 
            animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
            speed:       'fast',                          // faster animation speed 
            autoArrows:  false,                           // disable generation of arrow mark-up 
            dropShadows: false                            // disable drop shadows 
        }); 
    }); 
</script>