<ul class="sf-menu large">
	<li class="current">
		<a href="#">Find</a>
		<ul>
			<li><%= link_to 'Part',     :controller => 'brecords', :action => 'show', :rectype => 'part'     %></li>
			<li><%= link_to 'Document', :controller => 'brecords', :action => 'show', :rectype => 'document' %></li>
			<li><%= link_to 'Software', :controller => 'brecords', :action => 'show', :rectype => 'software' %></li>
			<li><%= link_to 'Workauth', :controller => 'brecords', :action => 'show', :rectype => 'workauth' %></li>
		</ul>
	</li>
	<li>
		<a href="#">Reports</a>
		<ul>
			<li><a href="#">Report 1</a></li>
			<li><a href="#">Report 2</a></li>
			<li><a href="#">Report 3</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Help</a>
		<ul>
			<li><a href="#">About</a></li>
		</ul>
	</li>
</ul>
<script type="text/javascript"> 
    $(document).ready(function() { 
        $('ul.sf-menu').superfish({ 
            delay:       1000,                            // one second delay on mouseout 
            animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
            speed:       'fast',                          // faster animation speed 
            autoArrows:  false,                           // disable generation of arrow mark-up 
            dropShadows: false                            // disable drop shadows 
        }).find('ul').bgIframe({opacity:false}); 
    }); 
</script>