<%= javascript_include_tag 'ui/ui.tabs.js', :cache => true %>
<script type="text/javascript">
	jQuery(document).ready(function(){
		$('#tabsRec > ul').tabs({ fx: { height: 'toggle', opacity: 'toggle' }});
	});
</script>
<br/>
<div id="record_title"></div>
<br/>
<div id="tabsRec">
	<ul>
		<li><a href="#tab_base"><span>Info</span></a></li>
		<li><%= link_to '<span>References</span>', :controller => 'brecords' %></li>
		<li><%= link_to '<span>History</span>', :controller => 'brecords' %></li>
	</ul>
	<div id="tab_base" class="ui-tabs-hide">
		<form id="record_base" action="" method="post">
			<fieldset>
				<legend></legend>
				<input type="hidden" id="view_record_id" />
				<div>
					<label for="f1">Type:</label>
					<input type="text" id="view_record_type" readonly="readonly" />
				</div>
				<div>
					<label for="f2">Name:</label>
					<input type="text" id="view_record_name" readonly="readonly" />
				</div>
				<div>
					<label for="f3">Bus. ID:</label>
					<input type="text" id="view_record_cage" readonly="readonly" />
				</div>
				<div>
					<label for="f4">Rev.:</label>
					<input type="text" id="view_record_brecalt" readonly="readonly" />
				</div>
				<div>
					<label for="f6">Status:</label>
					<input type="text" id="view_record_breclevel" readonly="readonly" />
				</div>
				<div>
					<label for="f7">Description:</label>
					<input type="text" id="view_record_bdesc" readonly="readonly" size="80"/>
				</div>
				<div>
					<label for="f7">Project:</label>
					<input type="text" id="view_record_bproject" readonly="readonly" />
				</div>
				<div>
					<label for="f7">Owner:</label>
					<input type="text" id="view_record_bowner" readonly="readonly" />
				</div>
			</fieldset>
		</form>
	</div>
</div>