<table id="refsGrid" class="scroll"></table>
<div id="refsPager" class="scroll"></div>

<script type="text/javascript">
var lastSel;
var id = jQuery('#view_record_id').attr('value');
jQuery(document).ready(function(){
	jQuery('#refsGrid').jqGrid({
		url: '/brecords/grid_refs',
		datatype: 'json',
		mtype: 'GET',
		colNames: ['id', 'Relationship', 'Item Type', 'Identifier', 'Bus Id', 'Rev', 'Description', 'Qty'],
		colModel :[
			{name:'id',        index:'id',        hidden:true},
			{name:'breftype',  index:'breftype',  width:80},
			{name:'brectype',  index:'brectype',  width:50},
			{name:'name',      index:'name',      width:80, sortable:false},
			{name:'busid',     index:'cage_code', width:50, align:'right', sortable:false},
			{name:'brecalt',   index:'brecalt',   width:30, align:'right'},
			{name:'bdesc',     index:'bdesc',     width:250}, 
			{name:'bquantity', index:'bquantity',  width:30, align:'right'} ],
		rowNum: 20,
		rowList: [10,20,30,50,100],
		sortname: 'breftype,brectype,brecname',
		sortorder: 'asc',
		viewrecords: true,
		imgpath: '/javascripts/themes/basic/images',
		height: '100%',
		width: 805,
		pager: 'refsPager',
		postData: {conditions: 'bobjid='+id+' '}
	})
	.navGrid('#refsPager', {refresh: true, edit: false, add: false, del: false, search: true})
});
</script>