<div class="title">Promotion History</div>
<br/>
<table id="promotionsGrid" class="scroll"></table>
<div id="promotionsPager" class="scroll"></div>

<script type="text/javascript">
var id = "<%= @id %>";
var centerWidth = pexLayout.cssWidth('center') -110;
$(function(){
	$('#promotionsGrid').jqGrid({
		url: '/brecords/grid_promotions',
		datatype: 'json',
		mtype: 'GET',
		colNames: ['id', 'Date', 'State', 'LifeCycle', 'Approver', 'Description'],
		colModel :[
			{name:'id',        index:'id',        hidden:true},
			{name:'promdate',  index:'bpromdate', width:80},
			{name:'blevel',    index:'blevel',    width:50},
			{name:'brelproc',  index:'brelproc',  width:80},
			{name:'buser',     index:'buser',     width:50},
			{name:'bdesc',     index:'bdesc',     width:80} ],
		rowNum: 10,
		rowList: [10,20,30,50,100],
		sortname: 'bpromdate',
		sortorder: 'asc',
		viewrecords: true,
		imgpath: grid_imgpath,
		height: 'auto',
		width: centerWidth,
		pager: 'promotionsPager',
		postData: {id: id}
	})
	.navGrid('#promotionsPager', {refresh: false, edit: false, add: false, del: false, search: false})
});
</script>

<br/>
<div class="title">Revision History</div>
<br/>
<table id="revisionsGrid" class="scroll"></table>
<div id="revisionsPager" class="scroll"></div>

<script type="text/javascript">
$(function(){
	$('#revisionsGrid').jqGrid({
		url: '/brecords/grid_revisions',
		datatype: 'json',
		mtype: 'GET',
		colNames: ['id', 'Revision', 'Status', 'Project', 'Owner', 'Promotion Date'],
		colModel :[
			{name:'id',        index:'id',        hidden:true},
			{name:'brecalt',   index:'brecalt',   width:20},
			{name:'breclevel', index:'breclevel', width:30},
			{name:'bproject',  index:'bproject',  width:50},
			{name:'bowner',    index:'bowner',    width:50},
			{name:'promdate',  index:'bpromdate', width:80} ],
		rowNum: 10,
		rowList: [10,20,30,50,100],
		sortname: 'brecalt',
		sortorder: 'desc',
		viewrecords: true,
		imgpath: grid_imgpath,
		height: 'auto',
		width: centerWidth,
		pager: 'revisionsPager',
		ondblClickRow: function(id) {	
			if (id!=null) {
				jQuery.history(id);
				$('#cRecord').load("<%= url_for(:controller => 'brecords', :action => 'load_record_base') %>",{id:id});
				$('#record_content > ul').tabs('select', 0);
			}
		},
		postData: {id: id}
	})
	.navGrid('#revisionsPager', {refresh: false, edit: false, add: false, del: false, search: false})
});
</script>

<br/>
<div class="title">Signoff History</div>
<br/>
<table id="signoffsGrid" class="scroll"></table>
<div id="signoffsPager" class="scroll"></div>

<script type="text/javascript">
$(function(){
	$('#signoffsGrid').jqGrid({
		url: '/brecords/grid_signoffs',
		datatype: 'json',
		mtype: 'GET',
		colNames: ['id', 'Date', 'Action', 'Status', 'Signature', 'Approver', 'Description'],
		colModel :[
			{name:'id',       index:'id',       hidden:true},
			{name:'date',     index:'bdate',    width:80},
			{name:'bcommand', index:'bcommand', width:30},
			{name:'bstatus',  index:'bstatus',  width:20},
			{name:'bname',    index:'banme',    width:80},
			{name:'buser',    index:'buser',    width:50},
			{name:'bdesc',    index:'bdesc',    width:80} ],
		rowNum: 10,
		rowList: [10,20,30,50,100],
		sortname: 'bdate',
		sortorder: 'asc',
		viewrecords: true,
		imgpath: grid_imgpath,
		height: 'auto',
		width: centerWidth,
		pager: 'signoffsPager',
		postData: {id: id}
	})
	.navGrid('#signoffsPager', {refresh: false, edit: false, add: false, del: false, search: false})
});
</script>
