<%= render :partial => 'brecords/load_record_children_common' %>

<div id="childrenTree"></div>

<script type="text/javascript">
$(function(){
	var childrentree = $.tree_create();
	childrentree.init($('#childrenTree'),{
		ui: {
			dots: 			true,
			theme_name: 	"default",
			theme_path: 	"/stylesheets/tree/"
		},
		data: {
			type:		"json",
			async:		true,
			url: 		"/<%= controller.controller_name %>/tree_children?reftypes=<%=@reftypes%>"
		},
		callback: {
			ondblclk: function(NODE, TREE_OBJ) {
				$.history(NODE.id);
				$('#cRecord').load("<%= url_for(:controller => 'brecords', :action => 'load_record_base') %>",{id:NODE.id});
				return false;
			}
		}
	});
});
</script>
