<%= render :partial => 'brecords/load_record_parents_common' %>

<div id="parentsTree"></div>

<script type="text/javascript">
$(function(){
	var treeparents = new tree_component();
	treeparents.init($('#parentsTree'),{
		ui: {
			dots: 			true,
			theme_name: 	"default",
			theme_path: 	"/stylesheets/tree/"
		},
		data: {
			type:		"json",
			async:		true,
			url: 		"/<%= controller.controller_name %>/tree_parents?reftypes=<%=@reftypes%>"
		},
		callback: {
			ondblclk: function(NODE, TREE_OBJ) {
				$('#cRecord').load("<%= url_for(:controller => 'brecords', :action => 'load_record_base') %>",{id:NODE.id});
			}
		}
	});
});
</script>
