<%= render :partial => 'brecords/load_record_children_common' %>

<div id="childrenTree"></div>

<script type="text/javascript">
$(function(){
	var childrentree = new tree_component();
	childrentree.init($('#childrenTree'),{
		path: "/javascripts",
		data: {
			type:	"json",
			async:	true,
			url: 	"/<%= controller.controller_name %>/tree_children?reftypes=<%=@reftypes%>"
		}
	});
});
</script>
