<%= render :partial => 'brecords/load_record_children_common' %>

<div id="childrenTree"></div>

<script type="text/javascript">
$(function(){
	$('#childrenTree').jstree({
		"plugins": ["themes", "json_data", "ui"],
		"themes" : {
			"theme" : "default",
			"dots" : "true"
		},
		"json_data" : {
			"ajax" : {
				"url": 	"/<%= controller.controller_name %>/tree_children?reftypes=<%=@reftypes%>",
				"data" : function (n) {
					return { id : n.attr ? n.attr("id") : 0 };
				}
			}
		}
	});
	
	$("#childrenTree").delegate("a", "dblclick", function() {
		var id = $(this).parent().attr("id");
		$.history(id);
		$('#cRecord').load("<%= url_for(:controller => 'brecords', :action => 'load_record_base') %>",{id:id});
		return false;
	});

});
</script>
