<fieldset>
	<legend></legend>
	<table>
		<tr>
			<th>Reftype</th>
			<th>Type</th>
			<th>Name</th>
			<th>Cage</th>
			<th>Rev</th>
			<th>Description</th>
			<th>Qty</th>
		<tr>
		<%= render :partial => "ref", :collection => @refs %>
	</table>
</fieldset>