<table id="filesGrid" class="scroll"></table>
<div id="filesPager" class="scroll"></div>

<script type="text/javascript">
$(function(){
	var id = "<%= @id %>";
	$('#filesGrid').jqGrid({
		url: '/brecords/grid_files',
		datatype: 'json',
		mtype: 'GET',
		colNames: ['id', 'Type', 'Name', 'Size', 'Alias'],
		colModel :[
			{name:'id',		index:'id',		hidden:true},
			{name:'format_icon',	index:'format_icon',	width:20, sortable:false},
			{name:'name',		index:'name',		width:160, sortable:false},
			{name:'size',		index:'size',		width:80, sortable:false},
			{name:'balias',		index:'balias',		hidden:true}],
		rowNum: 20,
		rowList: [10,20,30,50,100],
		sortname: 'name',
		sortorder: 'asc',
		viewrecords: true,
		height: 'auto',
		width: 300,
		pager: 'filesPager',
		ondblClickRow: function(rowid) {
			if (rowid!=null) {
				var rowValues = $('#filesGrid').getRowData(rowid);
                // Avvio lo scaricamento del file solo se accessibile
				if (rowValues.size != "<%= MSG['NO_FILE'] %>") {
					var file_url ="<%= url_for(:controller => 'brecords', :action => 'export') %>/<%= @id %>?balias="+rowValues.balias;
					var download_form = '<form id="download_form" method="post" action="'+file_url+'"></form>'
					$('body').append(download_form);
					$('#download_form').submit();
					$('#download_form').remove();
                }
				return false;
			}
		}
	})
	.navGrid('#filesPager', {refresh: false, edit: false, add: false, del: false, search: false})
});
</script>

