<hr/>
<div class='ctrlHolder'>
	<label for="brecord_report_print_queue">Print Queue :</label>
	<select id="brecord_report_print_queue" name="brecord[report_print_queue]" tabindex="16">

	</select>
</div>
<div class='ctrlHolder'>
	<label for="brecord_report_output_file">Output File :</label>
	<%= f.text_field :report_output_file, :maxlength => "50", :tabindex => "17" %>
</div>