<div id="cMenu">
	<ul>
		<li><a href="#cFind">Find</a></li>
		<li><a href="#cResult">Find Result Table</a></li>
		<li><a href="#cRecord" id='recordTabName'>Record</a></li>
	</ul>

	<div id="cFind">
	</div>

	<div id="cResult">
	</div>

	<div id="cRecord">
	</div>
</div>