<div id="cMenu" class="flora">
	<ul>
		<li><a href="#cFind"><span>Find</span></a></li>
		<li><a href="#cResult"><span>Find Result Table</span></a></li>
		<li><a href="#cRecord" id='recordTabName'><span>Record</span></a></li>
	</ul>

	<div id="cFind">
	</div>

	<div id="cResult">
	</div>

	<div id="cRecord">
	</div>
</div>