<div id="cMenuTabs">
	<ul>
		<li><a href="#cFind">Find</a></li>
		<li><a href="#cFindResultTable">Find Result Table</a></li>
		<li><a href="#cRecord" id='recordTabName'>Record</a></li>
	</ul>

	<div id="cFind" class="ui-corner-all"></div>

	<div id="cFindResultTable" class="ui-corner-all">
	</div>

	<div id="cRecord" class="ui-corner-all">
	</div>
</div>
