<div id="login_dialog" title="Login">
	<form id="login_form" class="uniForm">
	<fieldset class='inlineLabels'>
		<legend><img src="/images/logo_button.gif" alt="PlmExplorer"/></legend>
		<div class='ctrlHolder'>
			<label>Name</label>
			<input type="text" name="name" id="name" class="textInput"/>
		</div>
		<div class='ctrlHolder'>
			<label>Password</label>
			<input type="password" name="password" id="password" value="" class="textInput"/>
		</div>
	</fieldset>
	</form>
</div>

<script type="text/javascript">
	$(function() {
		$("#login_dialog").dialog({
			height: 250,
			width: 330,
			modal: true,
			overlay: {
				backgroundColor: '#1c94c4',
				opacity: 0.5
			},
			buttons: {
				OK: function() {
					$(this).dialog('close');
				}
			}
		});
		$('#login_form').uniform();
	});
</script>
